body {
  background-color: $body-bg;
  color: $body-color;
}

main {
  max-width: 800px;
  margin: 4rem auto 1rem;
}

h1 {
  margin-bottom: 2rem;
}

.btn {
  background-color: $btn-color;
  color: $btn-text-hover;
  border: none;

  &:hover {
    background-color: $btn-color;

    color: $btn-text-color;
  }
}

label {
  margin-bottom: 0.3rem;
}
