$body-bg: #202a37;
$body-color: #ffffff;
$btn-color: #4adf86;
$btn-text-color: #fff;
$btn-text-hover: $body-bg;
$input-bg: #202a37;
$input-border-color: #d1dade;
$input-color: #fff;
$navbar-dark-active-color: #4adf86;
$h1-color: #4adf86;
